body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.3372549);
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:310px;
  top:150px;
  width:480px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:-33px;
  top:-23px;
  width:569px;
  height:369px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:358px;
  top:244px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:440px;
  top:240px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:440px;
  top:290px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5_input {
  font-family:'Applied Font';
}
#u6 {
  position:absolute;
  left:358px;
  top:304px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:358px;
  top:80px;
  width:304px;
  height:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:444px;
  top:340px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:17px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:560px;
  top:340px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:17px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:453px;
  top:347px;
  width:16px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:420px;
  top:151px;
  width:280px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
