<!DOCTYPE html>
<html>
  <head>
    <title>文档回收站</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/文档回收站/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototype/axQuery.js"></script>
    <script src="resources/scripts/prototype/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/prototype/annotation.js"></script>
    <script src="resources/scripts/prototype/axQuery.std.js"></script>
    <script src="resources/scripts/prototype/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/prototype/events.js"></script>
    <script src="resources/scripts/prototype/action.js"></script>
    <script src="resources/scripts/prototype/expr.js"></script>
    <script src="resources/scripts/prototype/geometry.js"></script>
    <script src="resources/scripts/prototype/flyout.js"></script>
    <script src="resources/scripts/prototype/ie.js"></script>
    <script src="resources/scripts/prototype/model.js"></script>
    <script src="resources/scripts/prototype/repeater.js"></script>
    <script src="resources/scripts/prototype/sto.js"></script>
    <script src="resources/scripts/prototype/utils.temp.js"></script>
    <script src="resources/scripts/prototype/variables.js"></script>
    <script src="resources/scripts/prototype/drag.js"></script>
    <script src="resources/scripts/prototype/move.js"></script>
    <script src="resources/scripts/prototype/visibility.js"></script>
    <script src="resources/scripts/prototype/style.js"></script>
    <script src="resources/scripts/prototype/adaptive.js"></script>
    <script src="resources/scripts/prototype/tree.js"></script>
    <script src="resources/scripts/prototype/init.temp.js"></script>
    <script src="files/文档回收站/data.js"></script>
    <script src="resources/scripts/prototype/legacy.js"></script>
    <script src="resources/scripts/prototype/viewer.js"></script>
  </head>
  <body>

    <!-- Unnamed (表格) -->
    <div id="u0" class="ax_表格">

      <!-- Unnamed (表格单元) -->
      <div id="u1" class="ax_表格单元">
        <img id="u1_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u2" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">名</span><span style="font-family:'Applied Font Bold', 'Applied Font';">称</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u3" class="ax_表格单元">
        <img id="u3_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">类</span><span style="font-family:'Applied Font Bold', 'Applied Font';">型</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u5" class="ax_表格单元">
        <img id="u5_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">备</span><span style="font-family:'Applied Font Bold', 'Applied Font';">注</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u7" class="ax_表格单元">
        <img id="u7_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u8" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">所有者</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u9" class="ax_表格单元">
        <img id="u9_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u10" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">创</span><span style="font-family:'Applied Font Bold', 'Applied Font';">建日期</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u11" class="ax_表格单元">
        <img id="u11_img" class="img " src="images/文档列表/u30.png"/>
        <!-- Unnamed () -->
        <div id="u12" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">操</span><span style="font-family:'Applied Font Bold', 'Applied Font';">作</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u13" class="ax_表格单元">
        <img id="u13_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u14" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">张</span><span style="font-family:'Applied Font Regular', 'Applied Font';">三</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u15" class="ax_表格单元">
        <img id="u15_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">文</span><span style="font-family:'Applied Font Regular', 'Applied Font';">件夹</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u17" class="ax_表格单元">
        <img id="u17_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u18" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">个</span><span style="font-family:'Applied Font Regular', 'Applied Font';">人文件夹</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u19" class="ax_表格单元">
        <img id="u19_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u20" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">张</span><span style="font-family:'Applied Font Regular', 'Applied Font';">三</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u21" class="ax_表格单元">
        <img id="u21_img" class="img " src="images/文档列表/u20.png"/>
        <!-- Unnamed () -->
        <div id="u22" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">2</span><span style="font-family:'Applied Font Regular', 'Applied Font';">013-09-12</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u23" class="ax_表格单元">
        <img id="u23_img" class="img " src="images/文档列表/u30.png"/>
        <!-- Unnamed () -->
        <div id="u24" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">修改&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u25" class="ax_表格单元">
        <img id="u25_img" class="img " src="images/文档列表/u44.png"/>
        <!-- Unnamed () -->
        <div id="u26" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">部门说明文档</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u27" class="ax_表格单元">
        <img id="u27_img" class="img " src="images/文档列表/u44.png"/>
        <!-- Unnamed () -->
        <div id="u28" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">文</span><span style="font-family:'Applied Font Regular', 'Applied Font';">件</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u29" class="ax_表格单元">
        <img id="u29_img" class="img " src="images/文档列表/u44.png"/>
        <!-- Unnamed () -->
        <div id="u30" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">研发部说明</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u31" class="ax_表格单元">
        <img id="u31_img" class="img " src="images/文档列表/u44.png"/>
        <!-- Unnamed () -->
        <div id="u32" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">部</span><span style="font-family:'Applied Font Regular', 'Applied Font';">门领导</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u33" class="ax_表格单元">
        <img id="u33_img" class="img " src="images/文档列表/u44.png"/>
        <!-- Unnamed () -->
        <div id="u34" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">2</span><span style="font-family:'Applied Font Regular', 'Applied Font';">013-09-</span><span style="font-family:'Applied Font Regular', 'Applied Font';">11</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u35" class="ax_表格单元">
        <img id="u35_img" class="img " src="images/文档列表/u54.png"/>
        <!-- Unnamed () -->
        <div id="u36" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">修改&nbsp;&nbsp; 删除</span></p>
        </div>
      </div>
    </div>

    <!-- Unnamed (HTML Button) -->
    <div id="u37" class="ax_html_button">
      <input id="u37_input" type="submit" value="新增文件夹" class="text_sketch"/>
    </div>

    <!-- Unnamed (HTML Button) -->
    <div id="u38" class="ax_html_button">
      <input id="u38_input" type="submit" value="新增文件" class="text_sketch"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u39" class="ax_文本">
      <img id="u39_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u40" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">文档管理</span><span style="font-family:'Applied Font Regular', 'Applied Font';">&gt;</span><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span><span style="font-family:'Applied Font Regular', 'Applied Font';">文档</span><span style="font-family:'Applied Font Regular', 'Applied Font';">回收站</span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u41" class="ax_图片">
      <img id="u41_img" class="img " src="images/常用网址/u89.png"/>
      <!-- Unnamed () -->
      <div id="u42" class="text"></div>
    </div>

    <!-- Data Grid (表格) -->
    <div id="u43" class="ax_表格" data-label="Data Grid">

      <!-- Unnamed (表格单元) -->
      <div id="u44" class="ax_表格单元">
        <img id="u44_img" class="img " src="images/文档回收站/u44.png"/>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">名称</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u46" class="ax_表格单元">
        <img id="u46_img" class="img " src="images/文档回收站/u46.png"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">类型</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u48" class="ax_表格单元">
        <img id="u48_img" class="img " src="images/文档回收站/u48.png"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">所有者</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u50" class="ax_表格单元">
        <img id="u50_img" class="img " src="images/文档回收站/u50.png"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">删除</span><span style="font-family:'Applied Font Bold', 'Applied Font';">时间</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u52" class="ax_表格单元">
        <img id="u52_img" class="img " src="images/文档回收站/u52.png"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span style="font-family:'Applied Font Bold', 'Applied Font';">操作</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u54" class="ax_表格单元">
        <img id="u54_img" class="img " src="images/文档回收站/u54.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">部门制度.doc</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u56" class="ax_表格单元">
        <img id="u56_img" class="img " src="images/文档回收站/u56.png"/>
        <!-- Unnamed () -->
        <div id="u57" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u58" class="ax_表格单元">
        <img id="u58_img" class="img " src="images/文档回收站/u58.png"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">部门</span><span style="font-family:'Applied Font Regular', 'Applied Font';">助理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u60" class="ax_表格单元">
        <img id="u60_img" class="img " src="images/文档回收站/u60.png"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">2013-12-12</span></p>
        </div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u62" class="ax_表格单元">
        <img id="u62_img" class="img " src="images/文档回收站/u62.png"/>
        <!-- Unnamed () -->
        <div id="u63" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u64" class="ax_表格单元">
        <img id="u64_img" class="img " src="images/文档回收站/u64.png"/>
        <!-- Unnamed () -->
        <div id="u65" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u66" class="ax_表格单元">
        <img id="u66_img" class="img " src="images/文档回收站/u66.png"/>
        <!-- Unnamed () -->
        <div id="u67" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u68" class="ax_表格单元">
        <img id="u68_img" class="img " src="images/文档回收站/u68.png"/>
        <!-- Unnamed () -->
        <div id="u69" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u70" class="ax_表格单元">
        <img id="u70_img" class="img " src="images/文档回收站/u70.png"/>
        <!-- Unnamed () -->
        <div id="u71" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u72" class="ax_表格单元">
        <img id="u72_img" class="img " src="images/文档回收站/u72.png"/>
        <!-- Unnamed () -->
        <div id="u73" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u74" class="ax_表格单元">
        <img id="u74_img" class="img " src="images/文档回收站/u74.png"/>
        <!-- Unnamed () -->
        <div id="u75" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u76" class="ax_表格单元">
        <img id="u76_img" class="img " src="images/文档回收站/u76.png"/>
        <!-- Unnamed () -->
        <div id="u77" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u78" class="ax_表格单元">
        <img id="u78_img" class="img " src="images/文档回收站/u78.png"/>
        <!-- Unnamed () -->
        <div id="u79" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u80" class="ax_表格单元">
        <img id="u80_img" class="img " src="images/文档回收站/u80.png"/>
        <!-- Unnamed () -->
        <div id="u81" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u82" class="ax_表格单元">
        <img id="u82_img" class="img " src="images/文档回收站/u82.png"/>
        <!-- Unnamed () -->
        <div id="u83" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u84" class="ax_表格单元">
        <img id="u84_img" class="img " src="images/文档回收站/u84.png"/>
        <!-- Unnamed () -->
        <div id="u85" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u86" class="ax_表格单元">
        <img id="u86_img" class="img " src="images/文档回收站/u86.png"/>
        <!-- Unnamed () -->
        <div id="u87" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u88" class="ax_表格单元">
        <img id="u88_img" class="img " src="images/文档回收站/u88.png"/>
        <!-- Unnamed () -->
        <div id="u89" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u90" class="ax_表格单元">
        <img id="u90_img" class="img " src="images/文档回收站/u90.png"/>
        <!-- Unnamed () -->
        <div id="u91" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u92" class="ax_表格单元">
        <img id="u92_img" class="img " src="images/文档回收站/u92.png"/>
        <!-- Unnamed () -->
        <div id="u93" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u94" class="ax_表格单元">
        <img id="u94_img" class="img " src="images/文档回收站/u74.png"/>
        <!-- Unnamed () -->
        <div id="u95" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u96" class="ax_表格单元">
        <img id="u96_img" class="img " src="images/文档回收站/u76.png"/>
        <!-- Unnamed () -->
        <div id="u97" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u98" class="ax_表格单元">
        <img id="u98_img" class="img " src="images/文档回收站/u78.png"/>
        <!-- Unnamed () -->
        <div id="u99" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u100" class="ax_表格单元">
        <img id="u100_img" class="img " src="images/文档回收站/u80.png"/>
        <!-- Unnamed () -->
        <div id="u101" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u102" class="ax_表格单元">
        <img id="u102_img" class="img " src="images/文档回收站/u82.png"/>
        <!-- Unnamed () -->
        <div id="u103" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u104" class="ax_表格单元">
        <img id="u104_img" class="img " src="images/文档回收站/u104.png"/>
        <!-- Unnamed () -->
        <div id="u105" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u106" class="ax_表格单元">
        <img id="u106_img" class="img " src="images/文档回收站/u106.png"/>
        <!-- Unnamed () -->
        <div id="u107" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u108" class="ax_表格单元">
        <img id="u108_img" class="img " src="images/文档回收站/u108.png"/>
        <!-- Unnamed () -->
        <div id="u109" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u110" class="ax_表格单元">
        <img id="u110_img" class="img " src="images/文档回收站/u110.png"/>
        <!-- Unnamed () -->
        <div id="u111" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u112" class="ax_表格单元">
        <img id="u112_img" class="img " src="images/文档回收站/u112.png"/>
        <!-- Unnamed () -->
        <div id="u113" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u114" class="ax_表格单元">
        <img id="u114_img" class="img " src="images/文档回收站/u114.png"/>
        <!-- Unnamed () -->
        <div id="u115" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u116" class="ax_表格单元">
        <img id="u116_img" class="img " src="images/文档回收站/u116.png"/>
        <!-- Unnamed () -->
        <div id="u117" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u118" class="ax_表格单元">
        <img id="u118_img" class="img " src="images/文档回收站/u118.png"/>
        <!-- Unnamed () -->
        <div id="u119" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u120" class="ax_表格单元">
        <img id="u120_img" class="img " src="images/文档回收站/u120.png"/>
        <!-- Unnamed () -->
        <div id="u121" class="text"></div>
      </div>

      <!-- Unnamed (表格单元) -->
      <div id="u122" class="ax_表格单元">
        <img id="u122_img" class="img " src="images/文档回收站/u122.png"/>
        <!-- Unnamed () -->
        <div id="u123" class="text"></div>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u124" class="ax_形状">
      <img id="u124_img" class="img " src="images/文档回收站/u124.png"/>
      <!-- Unnamed () -->
      <div id="u125" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">&nbsp; &nbsp; 文档回收站列表</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) [footnote] -->
    <div id="u124_ann" class="annotation"></div>

    <!-- Unnamed (形状) -->
    <div id="u126" class="ax_形状">
      <img id="u126_img" class="img " src="images/文档回收站/u126.png"/>
      <!-- Unnamed () -->
      <div id="u127" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u128" class="ax_文本">
      <img id="u128_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u129" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">1/10</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u130" class="ax_文本">
      <img id="u130_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u131" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">每页：</span><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 条</span></p>
      </div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u132" class="ax_下拉列表框">
      <select id="u132_input" class="text_sketch">
        <option selected value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

    <!-- Report Selection Button Bar (形状) -->
    <div id="u133" class="ax_形状" data-label="Report Selection Button Bar">
      <img id="u133_img" class="img " src="images/文档回收站/report_selection_button_bar_u133.png"/>
      <!-- Unnamed () -->
      <div id="u134" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">下一页</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u135" class="ax_形状">
      <img id="u135_img" class="img " src="images/文档回收站/u135.png"/>
      <!-- Unnamed () -->
      <div id="u136" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">上一页</span></p>
      </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u137" class="ax_垂直线">
      <img id="u137_start" class="img " src="resources/images/transparent.gif" alt="u137_start"/>
      <img id="u137_end" class="img " src="resources/images/transparent.gif" alt="u137_end"/>
      <img id="u137_line" class="img " src="images/文档回收站/u137_line.png" alt="u137_line"/>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u138" class="ax_图片">
      <img id="u138_img" class="img " src="images/文档列表/u740.png"/>
      <!-- Unnamed () -->
      <div id="u139" class="text"></div>
    </div>

    <!-- Unnamed (图片) [footnote] -->
    <div id="u138_ann" class="annotation"></div>

    <!-- Unnamed (形状) -->
    <div id="u140" class="ax_文本">
      <img id="u140_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u141" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">删除</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) [footnote] -->
    <div id="u140_ann" class="annotation"></div>

    <!-- Unnamed (形状) -->
    <div id="u142" class="ax_文本">
      <img id="u142_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u143" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">还</span><span style="font-family:'Applied Font Regular', 'Applied Font';">原</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) [footnote] -->
    <div id="u142_ann" class="annotation"></div>
  </body>
</html>
