body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:196px;
  top:24px;
  width:143px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:173px;
  top:22px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:173px;
  top:50px;
  width:700px;
  height:370px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:371px;
}
#u5 {
  position:absolute;
  left:2px;
  top:177px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:228px;
  top:80px;
  width:132px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:248px;
  top:96px;
  width:142px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:248px;
  top:150px;
  width:92px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:410px;
  top:92px;
  width:50px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_input {
  font-family:'Applied Font';
}
#u13 {
  position:absolute;
  left:248px;
  top:340px;
  width:75px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13_input {
  font-family:'Applied Font';
}
#u14 {
  position:absolute;
  left:350px;
  top:150px;
  width:100px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:410px;
  top:150px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:490px;
  top:150px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:550px;
  top:150px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:610px;
  top:150px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:680px;
  top:150px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:740px;
  top:150px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:350px;
  top:176px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
